<%- include("header") -%>

<body class="text-center">

  <!-- Class is logout for rules? Why not standard class like class="nav-links" -->
  <div class="logout">
    <a href="/" class="create">Home</a>
  </div>

  <form class="form-signin" action="/users/login" method="POST">
    <img class="mb-4" src="images/uno.png" alt="" width="300" height="300">

    <ul>
      <% if(messages.success) { %>
        <li><%= messages.success %></li>
      <% } %>
      <% if(messages.error) { %>
        <li><%= messages.error %></li>
      <% } %>
    </ul>

    <div class="mid">

      <input type="text" name="username" class="form-control bottom" placeholder="username" required>
      <input type="text" name="password" class="form-control bottom" placeholder="password" required>

      <button type="submit" class="btn btn-lg btn-primary btn-block btn-signin">SIGN IN</button>
    </form>

      <div class="links">
        <div class="link1">
          <a href="/registration" class="forgot">Forgot password?</a>
        </div>
        <div class="link2">
          <a href="/registration" class="create">Create An Account</a>
        </div>
      </div>
  </div>
</body>

<%- include("footer") -%>
